<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>US Map</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
    <script src="www/scripts/us_map/raphael.js"></script>
    <script src="www/scripts/us_map/jquery.usmap.js"></script>
    <script src="www/scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="www/css/main.css">
</head>
<body>

<div id="map"></div>
<div id="results"></div>

</body>
</html>